	<!-- begin: footer -->
	<div class="footer">
		<div class="container">
			<p class="footer-text text-muted text-center">
				Bij Best
				<span>{{addYear '©'}}</span>
			</p>
		</div>
	</div>
	<!-- end: footer -->
