	<!-- begin: footer -->
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<ul class="list-inline text-center">
						<li><a href="http://www.bijbest.nl/">bijbest.nl <sup>Est. 2016</sup></a></li>
						<li><a href="contact.html">contact</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- end: footer -->
