	<!-- begin: identity -->
    <div id="identity">
        <a href="/">
            <h1>Bij Best
            <small>Breakfast, Lunch &amp; Coffee</small>
            </h1>
        </a>
    </div>
	<!-- end: identity -->
