---
home: active
---
	{{!--> navbar --}}

	{{!-- begin: content container --}}
	<div class="container bumper">
		<div class="left">
			<div class="right">
				<div class="row">
					
					{{!-- begin: content --}}
					<div class="col-sm-6 center col-sm-offset-3">
						{{> identity }}

						<div class="parallax">
							<div class="jumbotron">
								<h2>Dank je wel!</h2>
							</div>
						</div>
						
						<div class="message">
							<h3>Hartelijk dank voor je e-mailadres.</h3>
							<p>Zodra de site online is geven we jou een seintje.</p>
							<p><a href="http://www.bijbest.nl/">Terug naar de homepage</a></p>
						</div>

					</div>
					{{!-- end: content --}}

				</div>
			</div>
		</div>
	</div>
	{{!-- end: content container --}}

{{> footer }}
