---
title: Contact
contact: active
---
	{{!--> navbar --}}

	{{!-- begin: content container --}}
	<div class="container bumper">
		<div class="left">
			<div class="right">
                <div class="row">
                    
                    {{!-- begin: content --}}
                    <div class="col-sm-6 center col-sm-offset-3">

                        {{> identity }}

						<div class="parallax">
							<div class="jumbotron">
                                <h2>Contact</h2>
							</div>
						</div>

                        <div class="message">

                            <h3>Bij Best B.V.</h3>

                            <dl class="row">

                                <dt class="col-sm-3">Adres:</dt>
                                <dd class="col-sm-9"><em>Binnenkort!</em></dd>
                                <!--
                                <dd class="col-sm-9 col-sm-offset-3">Delft</dd>
                                -->

                                <!--
                                <dt class="col-sm-3">Telefoon:</dt>
                                <dd class="col-sm-9">015 - ...</dd>
                                -->

                                <dt class="col-sm-3">E-mail:</dt>
                                <dd class="col-sm-9"><a href="mailto:info@bijbest.nl">info@bijbest.nl</a></dd>

                            </dl>

                            <dl class="row">

                                <dt class="col-sm-3">KvK:</dt>
                                <dd class="col-sm-9">67212883</dd>

                                <!--
                                <dt class="col-sm-3">BTW:</dt>
                                <dd class="col-sm-9">...</dd>
                                -->

                            </dl>

                        </div>

                    </div>
                    {{!-- end: content --}}

                </div>
			</div>
		</div>
	</div>
	{{!-- end: content container --}}

{{> footer }}
