---
home: active
---
	{{!--> navbar --}}

	{{!-- begin: content container --}}
	<div class="container">
		<div class="row">
			
			{{!-- begin: content --}}
			<div class="col-sm-6 col-sm-offset-3">
				<h1>Bij Best.</h1>
				<h2>Breakfast, Lunch &amp; Coffee</h2>
				<p class="lead">
					Binnenkort!
				</p>
				<p>
					Meer informatie volgt&hellip;
				</p>
			</div>
			{{!-- end: content --}}

		</div>
	</div>
	{{!-- end: content container --}}

{{> footer }}
