---
home: active
---
	{{!--> navbar --}}

	{{!-- begin: content container --}}
	<div class="container bumper">
		<div class="row">
			
			{{!-- begin: content --}}
			<div class="col-sm-4 col-sm-offset-4 page">
				<div id="identity">
					<h1>Bij Best
						<small>Breakfast, Lunch &amp; Coffee</small>
					</h1>
				</div>
			</div>
			{{!-- end: content --}}

		</div>
	</div>
	{{!-- end: content container --}}

{{> footer }}
