---
title: Bumper
bumper: active
---
	{{!--> navbar --}}

	{{!-- begin: content container --}}
	<div class="container bumper">
		<div class="row">
			
			{{!-- begin: content --}}
			<div class="col-sm-3 hidden-xs left"><!-- empty --></div>
			<div class="col-sm-6 center">
				<div id="identity">
					<h1>Bij Best
					<small>Breakfast, Lunch &amp; Coffee</small>
					</h1>
				</div>
				<div id="teaser">
					<h2 class="text-center">Binnenkort open in Delft</h2>
					<h3 class="text-center">Bij Best <small>Breakfast, Lunch &amp; Coffee</small></h3>
					<p class="lead text-center">
						Houd onze website in de gaten!
					</p>
				</div>
			</div>
			<div class="col-sm-3 hidden-xs right"><!-- empty --></div>
			{{!-- end: content --}}

		</div>
	</div>
	{{!-- end: content container --}}

{{> footer }}
