---
title: Teaser
teaser: active
---
	{{!--> navbar --}}

	{{!-- begin: content container --}}
	<div class="container teaser">
		<div class="row">
			
			{{!-- begin: content --}}
			<div class="col-sm-12">
				{{> identity }}
			</div>
			{{!-- end: content --}}

		</div>
	</div>
	{{!-- end: content container --}}

{{> footer }}
