---
title: Teaser
teaser: active
---
	{{!--> navbar --}}

	{{!-- begin: content container --}}
	<div class="container teaser">
		<div class="row">
			
			{{!-- begin: content --}}
			<div class="col-sm-12">
				<div id="identity">
					<h1>Bij Best
						<small>Breakfast, Lunch &amp; Coffee</small>
					</h1>
				</div>
			</div>
			{{!-- end: content --}}

		</div>
	</div>
	{{!-- end: content container --}}

{{> footer }}
