//
// Bumper page logo
// --------------------------------------------------
// Just the logo v1

// Bumper page logo v1
.bumper {
    padding-top: 25px;
    #identity {
        position: relative;
        height: 280px;
        background: transparent url("@{bb-img-path}bb-logo.png") 50% 0 no-repeat;
        > h1 {
            position: absolute;
            left: -999em;
        }
    }
}
