//
// Bumper page 
// --------------------------------------------------
// Containing the teaser

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
.bumper {

    .center {
        background: #fff url("@{bb-img-path}/bumper-back-center-xs.jpg") 50% 0 no-repeat;
        background-size: 290px auto;
        min-height: 640px;
    }

    #teaser {
        margin: 30px -10px 0;
        background: #fff;
        border: 1px solid #3f441e;
        border-top-width: 15px;

        h2 {
            margin-top: 12px;
        }
    }
}

/* Extra small devices (phones, less than 768px) */
@media @sm-and-above {

    .bumper {
        .center {
            background: #fff url("@{bb-img-path}/bumper-back-center-lg.jpg") 50% 0 no-repeat;
            background-size: 530px auto;
        }
    }

}


/* Small devices (tablets, 768px and up) */
@media @md-and-above {

    .bumper {
        .left {
            background: #fff url("@{bb-img-path}/bumper-back-left-xs.jpg") 50% 0 no-repeat;
            background-size: 345px auto;
            min-height: 760px;
            border-right: 10px solid #fff;
        }
        .center {
            background-size: 345px auto;
            min-height: 760px;
        }
        .right {
            background: #fff url("@{bb-img-path}/bumper-back-right-xs.jpg") 100% 0 no-repeat;
            background-size: 345px auto;
            min-height: 760px;
            border-left: 10px solid #fff;
        }
    }

}

/* Medium devices (desktops, 992px and up) */
@media @lg-and-above {

    .bumper {
        .left {
            background: #fff url("@{bb-img-path}/bumper-back-left-lg.jpg") 50% 0 no-repeat;
            background-size: 455px auto;
        }
        .center {
            background: #fff url("@{bb-img-path}/bumper-back-center-lg.jpg") 50% 0 no-repeat;
            background-size: 455px auto;
        }
        .right {
            background: #fff url("@{bb-img-path}/bumper-back-right-lg.jpg") 100% 0 no-repeat;
            background-size: 455px auto;
        }
    }

}

/* Large devices (large desktops, 1200px and up) */
@media @xl-and-above {

    .bumper {
        .left {
            background-size: 555px auto;
        }
        .center {
            background-size: 555px auto;
        }
        .right {
            background-size: 555px auto;
        }
    }

}