//
// Identity
// --------------------------------------------------
// Custom corporate identity styles

// Homepage logo
#identity {
    position: relative;
    height: 100px;
    background: transparent url("@{bb-img-path}bb-logo.png") 0 0 no-repeat;
    > h1 {
        position: absolute;
        left: -999em;
    }
}
