---
title: 401 - Machtiging vereist
home: active
---
	{{!--> navbar --}}

	{{!-- begin: content container --}}
	<div class="container">
		<div class="row">
			
			{{!-- begin: content --}}
			<div class="col-sm-6 col-sm-offset-3">
				{{> identity }}
                <h2>401 - Machtiging vereist</h2>
				<p>Voor deze pagina heb je een machtiging nodig.</p>
			</div>
			{{!-- end: content --}}

		</div>
	</div>
	{{!-- end: content container --}}

{{> footer }}
