---
title: 500 - Serverfout
home: active
---
	{{!--> navbar --}}

	{{!-- begin: content container --}}
	<div class="container">
		<div class="row">
			{{!-- begin: content --}}
			<div class="col-sm-6 col-sm-offset-3">
				{{> identity }}
                <h2>500 - Serverfout</h2>
				<p>Oeps! Er gaat hier iets fout. Sorry.</p>
			</div>
			{{!-- end: content --}}

		</div>
	</div>
	{{!-- end: content container --}}

{{> footer }}
